.container {
  justify-content: center;
  color: blueviolet;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.diagrams-container {
  display: flex;
}

#digram1 {
  width: 200px;
  height: 200px;
  
}
#digram2 {
  width: 200px;
  height: 200px;
  
}

div.info {
  position:absolute; 
}